<h1>Cocktails</h1>

<ul>
  <% @cocktails.each do |cocktail| %>
  <li>
    <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
    <%= cl_image_tag cocktail.photo, height: 660, width: 440, crop: :fill %>
  </li>
  <% end %>
</ul>

<%= link_to "Create a new cocktail", new_cocktail_path %>
