<h1>Cocktails#new</h1>

<%= link_to "back to the list", cocktails_path %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Create a new cocktail</h1>
      <%= render "form" %>
    </div>
  </div>
</div>
