<h1>Add a dose for <%= @cocktail.name %></h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Create a dose for ingredient</h1>
      <%= render "form" %>
    </div>
  </div>
</div>

<%= link_to "back to the #{@cocktail.name} ", cocktail_path(@cocktail) %>
